/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.clj-kondo/.cache
build
www
.cpcache/target
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.cpcache
.lsp/.cache
examples/out
examples/node_modules
examples/.shadow-cljs
.DS_Store
.#*
*.pom.asc