{:hooks
 {:macroexpand
  {
   deft.core/deft deft/deft
   deft.core/witht deft/witht
   deft.core/defp deft/defp
   deft.core/defnt deft/defnt


   deft.core-cljs/deft deft/deft
   deft.core-cljs/witht deft/witht
   deft.core-cljs/defp deft/defp
   deft.core-cljs/defnt deft/defnt

   deft/witht deft/witht

   }}}
